language: python
python:
- '3.6'
install: pip install -r requirements.txt -t .
script:
- true
after_success:
- mkdir dist
- find ./ -name '*.pyc' -delete
- zip -r dist/threatstack-to-wavefront.zip . -x '.git/*' -x 'dist/*'
- cp deploy/cloudformation.json dist/threatstack-to-wavefront.json
deploy:
  skip_cleanup: true
  provider: s3
  access_key_id:
    secure: TvXR0Q0VPQ39CmAIoL2JGyIeCypbAxKZFnv0UIMa58uUZd7nvEizDwbbPWiTJq+nrQN+lq9lYCA1L6BOOuQNUt7B2ChwAvfImppGOy9sCpQRw/cFNfMgpdwMFZkXKmXX2xpcRb1doUhwneSsdL9GUuhu9KfkQyYBijrHpX9gRKnNl5ySoudGdV20PhIsWj2zBzcyDfZbaairW+5g2AE6XgtTAWIt7/hENj1bb6pjZRtI7ay5N+TwkHacr7CceM1IowJwh3vnb9ke1mz4o0I4zvqg7X8jt8nDIcdmlTSA58xX2czZzliCxxJFBgL+8tbLoeBj8kOWcicuHmYD2uTObgT0pC9i5HoXCrPHvQRz1T/m4Sk2ZNnnU0m9K5ClhaMe8UtOx+9U+3rtUQyMlIvfx2TRACUVufA5VbOm/HiHdy7KQyTJ+kcU0hFXw/l73WJ3yjlUg3tbK5+higQA/3HUtuDImbQyt9qcGCqa85zJDz2a7oZg8xYppp1rYWrDQudQFFTGi64pYqImOa5y6TEgwfsfxVwrAZCPcs1SJ3glDG1S5SprkJp4rRLIx/9AkhEJ2zSAgjZWjB+PbjT+UOOiiYIsmeDJZS5OW0aV7/Wq2Lf1Kld+lH5e0Ea4gQshhcxqUULORpa3UOCyvwf4BAMrujxSLIIZh0FZKGF609vNsaY=
  secret_access_key:
    secure: gUfABcwx8nXqdoR4NoZhLqL+EaKqUPGrDtRPJmKKGCccAEqTHjO6fnsehQGpWfEuO69STff3UvIbRPBuVbxb6T3ilLcX26+ChNebz69eznC1iY/oFY01i6siu6GObVam8Yrtv/QFRqrOidkquMm7svdfNg5hfk0HvLHFWp5Cdwu3OWmtpnzSO5KYzN/H+AxfhB+sOG487hNaB17U52G3/6IUQzj3ZUBNqGnRYFx9jD1E045t0vOqkLqEZMIXBL3AXMvUvDW5YDZTR9f/9WzYbTVSVzrjvdUsBH8IPwHBkbHWPI3mnQOBnP9j0nqSY8pQH3um4JJ0Pzoqcg9iKYNFC6KzZ6Q1IZpOZRVpV7DtZF7LPwpH+LxvgkL0aMoHhU9paTPgOfGa5/8XZ0vmFgmYP9eqeSik6SRJJKOynXXK018N5768SHROMRIDAD2Y7vu7kS4OFjsQsQKaJ3rWdKPUvsOvg5Y7gQi1K5w7lJk8ASHuW52HukSB/USS9rJlOuocnqA5c0gJr3uCYjWwBaYqoOMotunZG6r6zGEfjFtPH/urzk+FleMP/B1Uu2wHQ+HJXDPiMknn0gjSGcpQq/UZ8lohjWZ7UFkG5cWu8DvilNevQb0aPriiq/YP6DFy0Cwn+kaELTxVc6Y1nVtWdctY788LJtVaVXeeuL/9/62ipuM=
  bucket: ts-demo-lamba-deploys
  local-dir: dist
  acl: public_read
  on:
    repo: threatstack/threatstack-to-wavefront
